.zarousel-container {
  /*overflow: hidden;*/
  position: relative;
}
.zarousel-list {
  height: 100%;
  border: 1px solid #0e0;
}

.zarousel-list:after {
  content: '';
  display: block;
  clear: both;
}

.zarousel-dot-list {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0px;
  list-style-type: none;
  font-size: 0px;
}

.zarousel-dot {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
}

.zarousel-dot:first-child {
  margin-left: 0px;
}

.arrow--next {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 30px;
  height: 20px;
  border: 1px solid #00e;
}

.arrow--prev {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 30px;
  height: 20px;
  border: 1px solid #00e;
}
